.contact-background{
    background-image: url('../../../images/background.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 67, 71, 0.76);
    background-blend-mode: darken, luminosity;
    background-position: cover;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
   

}