.gallery-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-container img {
        height: 250px;
        width: 250px;

    }
}

@media only screen and (min-width:689px) and (max-width: 991px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .gallery-container img {
        height: 300px;
        width: 300px;
        margin: 0px 10px;
    }
}